<html>
    <head>
        <title>Features</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css"> 

    </head>

    <body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Home</span> 
  </div>
</nav>

<center><p><h2>Choose your subscriptions here</h2></p></center> 

<div class="card-group">
  <div class="card">
    <img src="/static/images/Netflix.png" class="card-img-top" alt="Netflix" width=10% height=50%>   
    <div class="card-body">
      <h5 class="card-title">Netflix</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <form>
        <input type="checkbox" id="Sub1" name="Serv1" value="Netflix">
  <label for="Serv1"> [logo here]Netflix</label><br> 
    </form> 
    </div>
  </div>
  <div class="card">
    <img src="/static/images/Hulu.jpg" class="card-img-top" alt="Hulu" width=10% height=50%>  
    <div class="card-body">
      <h5 class="card-title">Hulu</h5> 
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <form>
        <input type="checkbox" id="Sub2" name="Serv2" value="Hulu"> 
        <label for="Serv2"> [logo here]Hulu</label><br>
    </form> 
    </div>
  </div> 
  <div class="card">
    <img src="/static/images/disneyplus.0.jpg" class="card-img-top" alt="Disney Plus" width =10% height=50%> 
    <div class="card-body">
      <h5 class="card-title">Disney Plus</h5> 
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
       <input type="checkbox" id="Sub3" name="Serv3" value="Disney Plus+">
  <label for="Serv3"> [logo here]Disney Plus </label></html></br> 
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="/static/images/Prime.png" class="card-img-top" alt="Amazon Prime Video" width = 10% height = 50%> 
    <div class="card-body">
      <h5 class="card-title">Amazon Prime Video</h5> 
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <input type="checkbox" id="Sub4" name="Serv4" value="Amazon Prime Video"> 
      <label for="Serv4"> [logo here]Amazon Prime Video</label><br> 
    </div>
  </div> 
  <div class="card">
    <img src="/static/images/HBO.jpg" class="card-img-top" alt="HBO Max" width= 10% height= 50% >  
    <div class="card-body">
      <h5 class="card-title">HBO Max</h5> 
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <input type="checkbox" id="Sub5" name="Serv5" value="HBO Max"> 
  <label for="Serv5"> [logo here]HBO Max</label><br> 
    </div>
  </div>
   <div></div> 
  <div class="card">
    <img src="/static/images/unnamed.png" class="card-img-top" alt="Peacock" width = 10% height = 50% >   
    <div class="card-body">
      <h5 class="card-title">Peacock</h5> 
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <input type="checkbox" id="Sub6" name="Serv6" value="Peacock"> 
  <label for="Serv6"> [logo here]Peacock </label><br> 
    </div>
  </div>
</div>  
<div class="card-group">
  <div class="card">
    <img src="/static/images/AppleMusic.png" class="card-img-top" alt="Apple Music" width=10% height=50%> 
    <div class="card-body">
      <h5 class="card-title">Apple Music</h5> 
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <input type="checkbox" id="Sub8" name="Serv8" value="Apple Music">
  <label for="Serv8"> [logo here]Apple Music</label><br> 
    </div>
  </div>
  <div class="card">
    <img src="/static/images/Tidal.jpg" class="card-img-top" alt="Tidal" width=10% height=50%>  
    <div class="card-body">
      <h5 class="card-title">Tidal</h5> 
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <input type="checkbox" id="Sub9" name="Serv9" value="Tidal">
  <label for="Serv9"> [logo here]Tidal</label><br> 
    </div>
  </div>
  <div class="card">
    <img src="/static/images/twitter_card-default.jpg" class="card-img-top" alt="Spotify" width = 10% height= 50%>  
    <div class="card-body">
      <h5 class="card-title">Spotify</h5> 
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <input type="checkbox" id="Sub10" name="Serv10" value="Spotify"> 
  <label for="Serv10"> [logo here]Spotify</label><br>  
    </div>
  </div>
</div>
<center><input type="submit" value="Submit"></center> 




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>  